<!doctype html>
<html>
    <head>
        <title>Example</title>
        <script type="text/javascript" src="{{ url_for('mustache.static', filename='mustache-loader.js') }}"></script>
        {{ mustache_templates }}
    </head>
    <body>
    </body>
</html>